@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	display: flex;
}

#sidebar {
	width: 260px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
}

.nav {
	position: fixed;
	top: 0px;
	width: 100%;
}

.nav-link{
	text-transform: capitalize;
	font-style: italic;
}

.fs-4 {
	text-transform: capitalize;
}

.inventario {
	position: fixed;
	left: 270px;
	top: 50px;
	bottom: 0;
	width: 80vw; /* viewport width */
	height: 92vh; /* viewport height */
	overflow-y: scroll;
	overflow-x: scroll;
	font-size: smaller;
}


.tr_content > td{
	text-transform: capitalize;
}

.nav-links {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.active{
  	color: #fff;
	background-color: #fd0d0d;
  	border-radius: 50px;
}
