/* ===========================================================================================
    Archivo: style_inventario.css
    Descripcion: lista de estilos para el Inventario.
    Fecha de Creacion: 20-05-2022
    Por: Alejandro Molinar.
 * ===========================================================================================
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	display: flex;
}

#sidebar {
	width: 260px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
}

.nav {
	position: fixed;
	top: 0px;
	width: 100vw;
}

.nav-link{
	text-transform: capitalize;
	font-style: italic;
}

.fs-4 {
	text-transform: capitalize;
}

.inventario {
	position: fixed;
	left: 18vw;
	top: 7vh;
	bottom: 0;
	width: 82vw; /* viewport width */
	height: 93vh; /* viewport height */
	overflow-y: scroll;
	overflow-x: scroll;
	font-size: smaller;
}

.tableUser {
	position: fixed;
	left: 10px;
	top: 50px;
	width: 100vw; /* viewport width */
	height: 92vh; /* viewport height */
	overflow-y: scroll;
	overflow-x: scroll;
	font-size: smaller;
}


.tr_content > td{
	text-transform: capitalize;
	font-size: smaller;
}

.nav-links {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.active{
  	color: #fff;
	background-color: #fd0d0d;
  	border-radius: 50px;
}
