@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	display: flex;
}

#sidebar {
	width: 260px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
}

.nav{
	position: relative;
	top: -10px;
	width: 1320px;
  
}

.fs-4 {
	text-transform: capitalize;
}

.inventario {
	width: 70%;
	/* Esto equilibria lo del aside */
	position: absolute;
	top: 45px;
	left: 270px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #fd0d0d;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: 0.5em;
}

.nav-links {
  display: block;
  padding: .5rem 1rem;
  color: #fd0d0d;
  text-decoration: none;
}